set editing-mode vi
set keymap vi
set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set blink-matching-paren on
set colored-completion-prefix on
set colored-stats on
set mark-directories off
